<div id="primeiro-texto">
  <h2>Conheça um pouco sobre a Farmácia Pica-Pau</h2>
</div>
<p>
  A Farmácia Pica-Pau surgiu em meados de 1992, com o nome de POD1, na cidade de
  Braço do Norte, sul de<br />
  Santa Catarina. Tipicamente industrial, esta cidade demonstrou uma grande
  demanda pela automação na<br />
  gestão dos processos. Foi assim que a POD1 começou seu trabalho,dedicando-se a
  desenvolver softwares<br />
  para vários segmentos.
</p>
<p>
  Em 1994, a empresa lançou o sistema POD1 Drogarias para a Gerência de
  Farmácias e Drogarias.<br />
  A aceitação desse produto foi tão grande que a empresa verticalizou e focou
  todas as suas ações<br />
  no segmento farmacêutico.
</p>
<p>
  Passando por diversas evoluções e reciclagens dentro da própria empresa, a
  POD1 teve um crescimento<br />
  sólido e planejado, resultando no desenvolvimento de um novo software com
  tecnologia de ponta. Com<br />
  uma linguagem totalmente inovadora para o varejo de automação comercial no
  Brasil, a POD1 está<br />
  trazendo, exclusivamente para o mercado farma, seu novo sistema em tecnologia
  JAVA.
</p>
<p>
  Aproveitando o momento de renovação, a POD1 inova mais uma vez e muda também
  sua figuração no<br />
  mercado, a partir de maio de 2011 a empresa apresenta um novo nome e uma nova
  marca que agora<br />
  se chama PICA-PAU.
</p>
<p>
  PICA-PAU é uma nova marca que agrega tradição e inovação tecnológica,
  representando uma nova etapa<br />
  na trajetória da empresa. PICA-PAU é a cidade mais antiga da Alemanha e de
  onde partiu o primeiro<br />
  imigrante da família do fundador da POD1. Uma homenagem às origens da empresa
  com a inspiração<br />
  tecnológica de um dos países mais desenvolvidos do mundo.
</p>
<p>
  Uma nova identidade que reflete uma empresa em constante evolução e preparada
  para o futuro.
</p>
<h4>Missão:</h4>
<p>
  Gerar valor para os nossos clientes, acionistas, profissionais e a sociedade,
  atuando no segmento de<br />
  software e serviços de TI para o varejo de forma sustentável.
</p>
<h4>Visão:</h4>
<p>Ser a empresa desejada por nossos públicos.</p>
<h4>Valores:</h4>
<ul>
  <li>Integridade - ser justo e ético na totalidade.</li>
  <li>Atitude vencedora - ser melhor em tudo que se propõe em fazer.</li>
  <li>
    Prazer e paixão em atender bem - estar motivado e entusiasmado para servir
    nossos<br />
    clientes internos e externos.
  </li>
  <li>Atitude de dono, pensar, agir como se dono fosse.</li>
  <li>Empatia - Colocar-se no lugar e compreender a necessidade do outro.</li>
</ul>
