p,
ul {
  text-align: left;
  font-family: "MyriadPro-Regular", sans-serif, "Trebuchet MS", Arial, Geneva,
    Helvetica;
  padding-left: 500px;
}

h2 {
  text-align: center;
  font-family: "MyriadPro-Regular", sans-serif, "Trebuchet MS", Arial, Geneva,
    Helvetica;
}

h4 {
  text-align: center;
  font-family: "MyriadPro-Regular", sans-serif, "Trebuchet MS", Arial, Geneva,
    Helvetica;
  padding-right: 795px;
}

ul {
  padding-left: 550px;
}
