<div class="conteudo">
  <img src="assets/arco-iris.png" class="arco-iris" width="120" />
  <img src="assets/arco-iris.png" class="arco-iris" width="120" />
  <img src="assets/arco-iris.png" class="arco-iris" width="120" />
  <img src="assets/arco-iris.png" class="arco-iris" width="120" />
  <img src="assets/arco-iris.png" class="arco-iris" width="120" />
  <div class="titulo">
    <h1>Pica-Pau</h1>
  </div>
  <div class="primeira-imagem">
    <img src="assets/pica-pau.png" class="pica-pau" width="200" />
  </div>
  <div class="primeiro-texto">
    <h2>Validar CPF</h2>
  </div>
  <div class="cpf">
    <input [(ngModel)]="cpf" placeholder="CPF" type="text" />
    <button (click)="validar()">Validar</button>
  </div>
</div>
