h2 {
  padding-top: 50px;
  text-align: center;
  font-family: "MyriadPro-Regular", sans-serif, "Trebuchet MS", Arial, Geneva,
    Helvetica;
  font-size: 30px;
}

form {
  padding-top: 20px;
  text-align: center;
}

input,
button {
  padding: 10px;
  font-size: 17px;
}

.tabela {
  margin: 0 auto;
  border: 1px solid;
}

tr,
th {
  border: 1px solid;
}
